@charset "utf-8";
@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {
    /* TODO */
    @include transition-property(padding);
    @include transition-duration(600ms);
    @include transition-delay(1s);
    @include transition-timing-function(linear);

    &.ease-in {
        /* TODO */
    @include transition-duration(1s);
    @include transition-timing-function(ease-in);

    }

    &.ease-out {
        /* TODO */
        @include transition-duration(1s);
        @include transition-timing-function(ease-out);
    }

    &.ease-in-out {
        /* TODO */
        @include transition-duration(1s);
        @include transition-timing-function(ease-in-out);
    }

    &.green {
        /* TODO */
        @include transition-property(all);
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

