@import "compass/reset";
@import "compass/css3";


$black: #000;
$lightgrey: #fafafa;
$red: #d9534f;
$yellow: #f0ad4e;
$limegreen: #5cb85c;
$ligthergrey: #d3d3d3;


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif;
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}


input[type="text"],input[type="password"] {
    border:1px solid $black;
    padding:5px;
    margin:10px 5px 10px 5px;

    width: 180px;
}

input[type="submit"] {
    border:1px solid $black;
    border-radius:0;
    background-color: $lightgrey;
    margin:10px 5px 10px 5px;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

.feedback {
    margin:10px 5px 10px 5px;
    font-size:11px;
    font-weight:600;

}

.feedback.error {
    color: $red;
}

.feedback.warning {
    color: $yellow;
}

.feedback.success {
    color: $limegreen;
}

.strengthIndicator {
    margin:10px 5px 10px 5px;
    width: 200px;
    padding:5px;
    height: 13px;
    border:1px solid $ligthergrey;
}

    ::before {
        content: "";
        display: block;
        height: 100%;

        @include transition-property(width);
        @include transition-delay(0);
        @include transition-duration(250ms);
        @include transition-timing-function(linear);
    }

.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error .strengthIndicator {
    &::before {
        width: 10%;
        background-color: $red;
    }
}
    .warning .strengthIndicator {
        &::before {
            width: 60%;
            background-color: $yellow;
        }
    }
        .success .strengthIndicator {
            &::before {
                width: 100%;
                background-color: $limegreen;
            }
        }

.feedback.error, .feedback.warning, .feedback.success {
    display: none;
}

.error .feedback.error {
    display: block;
}

.warning .feedback.warning {
    display: block;
}

.success .feedback.success {
    display: block;
}
